@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

:root {
    --main-colour: #131314;
    --secondary-colour: #1E1F20;
    --secondary-colour-hover: #333537;
  
    --focus-colour: #282A2C;
    --focus-colour-hover: #37393B;
  
    --button-colour-hover: #2f3030;
  
    --text-colour: #fff;
    --secondary-text-colour: #D8D8D8;
    --secondary-heading-colour: #444746;
    --placeholder-colour: #ABAFB3;
}

.light_mode {
    --main-colour: #FFFFFF;
    --secondary-colour: #F0F4F9;
    --secondary-colour-hover: #DDE3EA;
  
    --focus-colour: #E9EEF6;
    --focus-colour-hover: #E1E6ED;
  
    --button-colour-hover: #E9ECF1;
  
    --text-colour: #000;
    --secondary-text-colour: #4D4D4D;
  --secondary-heading-colour: #C4C7C5;
    --placeholder-colour: #717075;
}

body {
    background: var(--main-colour);
}

.header,
.chats .message,
.chats .message .message-content,
.prompt-form {
    margin: 0 auto;
    max-width: 824px;
}

body.hide-header .header {
    margin: 0;
    display: none;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.navbar-logo {
    color: var(--secondary-text-colour);
    font-weight: 600;
}

.navbar-button {
    padding: 0.5rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.75rem;
    border: none;
    background: var(--secondary-colour);
    color: var(--text-colour);
    cursor: pointer;
    transition: background 0.3s ease;
}

.navbar-button:hover {
    background: var(--secondary-colour-hover);
}

.header {
    margin-top: 6vh;
}

.header-title h1{
    width: fit-content;
    background: linear-gradient(to right, #4a90e2, #a355b9, #ff6b6b);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3.25rem;
    font-weight: 600;
}

.header-title h2{
    color: var(--secondary-heading-colour);
    font-size: 3.25rem;
    font-weight: 600;
}

.sg{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4.875rem;
    gap: 0.5rem;
}

.sg-item {
    background: var(--secondary-colour);
    color: var(--secondary-text-colour);
    padding: 1rem;
    height: 12.5rem;
    width: 12.5rem;
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: background 0.3 ease;
}

.sg-item:hover {
    background: var(--secondary-colour-hover);
}

.sg-item-text {
    font-weight: 500;
    line-height: 1.375rem;
}

.sg-item-icon {
    text-align: right;
}

.sg-item-icon i {
    font-size: 1.5rem;
    background: var(--main-colour);
    padding: 0.5rem;
    border-radius: 50%;
}

.prompt {
    position: fixed;
    background: var(--main-colour);
    z-index: 1000;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 1rem;
}

.prompt-input-wrapper {
    width: 100%;
    height: 4rem;
    display: flex;
    position: relative;
}

.prompt-form-input {
    height: 100%;
    width: 100%;
    border: none;
    resize: none;
    font-size: 1rem;
    color: var(--text-colour);
    padding: 1rem 1.75rem;
    border-radius: 100px;
    background: var(--secondary-colour);
    transition: background 0.3 ease;
}

.prompt-form-input:focus {
    background: var(--focus-colour);
}

.prompt-form-input:focus ~ .prompt-form-button:hover {
    background: var(--focus-colour-hover);
}

.prompt-form-input::placeholder {
    color: var(--placeholder-colour);
}

.prompt-form-button{
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    width: 48px;
    height: 48px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-colour);
    background: transparent;
    transition:  all 0.3 ease;
}

.prompt-form-button:hover {
    background: var(--button-colour-hover);
}

.prompt-form-button#sendButton {
    transform: translateY(-50%) scale(0);
}

.prompt-form-input:valid ~ .prompt-form-button#sendButton {
    transform: translateY(-50%) scale(1);
}

.prompt-form-input:valid ~ #deleteButton {
    right: 3.5rem;
}

.disclaimer {
    text-align: center;
    color: var(--placeholder-colour);
    font-size: 0.85rem;
    margin-top: 1rem;
}

.chats {
    padding: 2rem 1rem 10rem;
    max-height: 100%;
    overflow-y: auto;
    scrollbar-color: #999 transparent;
}

.chats .message-incoming {
    margin-top: 1.5rem;
}

.chats .message-outgoing:not(:first-child) {
    margin-top: 40px;
}

.chats .message-content {
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
    width: 100%;
}

.chats .message-text {
    color: var(--text-colour);
    white-space: pre-wrap;
    margin-top: 10px;
}

.hide {
    display: none !important;
}

.chats .message-error .message-text {
    color: #e55865;
}

.chats .message-loading .message-text {
    display: none;
}

.chats .message-avatar {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    object-fit: top center;
}

.chats .message-loading .message-avatar {
    animation: rotate 3s linear infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

.chats .message-icon {
    color: var(--text-colour);
    cursor: pointer;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    font-size: 1.25rem;
    margin-left: 3.5rem;
    transition: background 0.3 ease;
}

.chats .message-icon:hover {
    background: var(--secondary-colour-hover);
}

.chats .message-loading-indicator {
    display: none;
    gap: 0.6rem;
    width: 100%;
    flex-direction:column;
    margin-bottom:20px;
}

.chats .message-loading .message-loading-indicator {
    display: flex;
}

.chats .message-loading-indicator .message-loading-bar {
    height: 1rem;
    width: 100%;
    border-radius: 0.135rem;
    background-position: -800px 0;
    background: linear-gradient(to right, #2563eb60 30%, var(--main-colour) 60%, #2563eb60);
    animation: loading 3s linear infinite;
}

.chats .message-loading-indicator .message-loading-bar:first-child {
    width: 85%
}

.chats .message-loading-indicator .message-loading-bar:last-child{
    width: 70%;
}

@keyframes loading {
    
    0% {
        background-position: -800px 0;
    }

    50% { 
        background-position: 0px 0;
    }

    100% {
        background-position: 800px 0;
    }
}

.code-copy-btn {
    background-color: transparent;
    border: none;
    color: var(--text-colour);
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 12px;
    z-index: 10;
    font-size: 18px;
}

p{
    margin-bottom: 10px;
}

ul {
    list-style: disc inside;
    margin-left: 20px;
}

ol {
    margin-left: 40px;
}

strong {
    font-weight: bold;
}

em {
    font-size: italic;
}

a {
    color: #1e90ff;
    text-decoration: none;
}

th,
td {
    border: 1px solid;
    text-align: left;
    padding: 10px;
}

pre {
    position: relative;
    background-color: var(--secondary-colour);
    padding: 10px 0 0;
    font-family: monospace;
    font-size:  14px;
    border-radius: 10px;
    margin: 0;
    overflow-x: auto;
}

code {
    margin-top: 30px;
    border-radius: 5px;
    color: inherit;
}

.code-language-label {
    position: absolute;
    font-weight: bold;
    top: 10px;
    left: 12px;
    color: var(--placeholder-colour);
    font-size: 14px;
    text-transform: capitalize;
}

.hljs {
    background-color: var(--secondary-colour);
}

blockquote {
    padding-left: 60px;
    line-height: 2.5rem;
    color: var(--text-colour);
}

@media screen and (max-width: 980px) {
    
    .header {
        padding: 0 2rem;
    }

    .header-title { 
        line-height: 2.8rem;
    }

    .header-title h1 { 
        font-size: 2.7rem;
    }

    .header-title h2{
        font-size: 2.5rem;
    }

    .sg { 
        justify-content: center;
    }

    .sg-item:nth-child(3),
    .sg-item:nth-child(4) { 
        display: none;
    }

    .message { 
        padding: 0 1.5rem;
    }

    .disclaimer { 
        font-size: 0.8rem;
    }

}

